:root {
  -- White: hsl(0, 0%, 100%)
  -- Light gray: hsl(212, 45%, 89%)
  -- Grayish blue: hsl(220, 15%, 55%)
  -- Dark blue: hsl(218, 44%, 22%)
}

body{
  position:relative;
  top: 70px;
  background-color:  hsl(212, 45%, 89%)

}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wording {
  position: relative;
  top: 2rem;
}

h3 {
  width: 11em;
  font-size: 15px
  font-family: "Outfit-Black"
}


p {
  width: 200px;
  font-size: 13px;
  color: hsl(220, 15%, 55%);
  font-family: "Outfit-Thin"

}

.white_card {
  border-radius: 8px;
  height: 371px;
  background-color: hsl(0, 0%, 100%)


}

.scan_card {
  display: flex;
  border-radius: 8px;
  position: relative;
  width: 14rem;
  height: 173px;
  top: 21px;
  left: 18px;
}

.wording {
  text-align: -webkit-center;
  width: 259px;
}
